<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Investor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin">
    <link rel="stylesheet" href="{% static 'css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Features-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/Highlight-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'css/Highlight-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/project-card.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body style="background: rgb(193,227,255);">
    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
        <div class="container-fluid"><a class="navbar-brand font-monospace text-uppercase" href="{% url 'Investor:vc_invest' %}" style="font-size: 30px;">VC Investor</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ms-auto" role="button" href="#">Create Profile</a></div>
        </div>
    </nav>
    <section class="contact-clean" style="background: rgb(193,227,255);">
        <form method="post" action="{% url 'Investor:create_investor' %}">
            {% csrf_token %}
            <h2 class="text-center">Create Investor</h2>
            <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="mb-3"><input class="form-control" type="text" name="Country" placeholder="Country"></div>
            <div class="mb-3"><input class="form-control" type="text" name="Firm" placeholder="Firm"><small class="form-text">* If you are a sole investor, type Sole Investor</small></div>
            <div class="text-center mb-3"><button class="btn btn-primary" type="submit">SUBMIT</button></div>
        </form>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>